/*body {
	background-color: #000;
	color: #fff;
}*/

/*a {
	color: #fff;
}*/

nav {
	margin: auto;
	border: 2px dotted black;
}

nav ul li a {
	border: 1px dotted red;
	float: left;
	/*margin-bottom: 50px;*/
}

#wrapper {
	max-width: 80%;
	margin: auto;
}