body {
	background-color: #383838;
	color: #fff;
}

a {
	color: #fff;
}

nav {
	margin: auto;
	border: 2px dotted black;
	display: block;
}

nav ul li a {
	border: 1px dotted red;
	float: left;
	/*margin-bottom: 50px;*/
}

#wrapper {
	max-width: 80%;
	margin: auto;
	border: 1px dotted blue;
}